```{=html}

<table class="lectures">
  <thead>
    <th style="width:12%">Date</th>
    <th style="width:40%">Lecture</th>
    <th style="width:30%">References</th>
    <th style="width:18%">Misc</th>
  </thead>

  <tbody class="list">
    <% var lec_num=0 %>
    <% var tut_num=0 %>
    <% var mq_num=0 %>
    <% var q_num=0 %>
    <% var e_sem=0 %>
    <% for (const item of items) { %>
    <% if (item.tutorial) { %>
    <tr bgcolor="#BDF9C4">
      <% tut_num++ %>
      <td>
        <b>Tutorial #<%= tut_num %></b><br />
        <%= item.day %>
      </td>
      <td>
        <%= item.tutorial %>
      </td>
      <td>
        <% if (item.references) {%>
        <% var ref = item.references %>
        <% for (elts of ref) { %>
        <ul class="tight">
          <li><%= elts %></li>
        </ul>
        <% } %>
        <% } %>
      </td>
      <td>
        <% if (item.misc) {%>
        <%= item.misc %>
        <% } %>
      </td>
    </tr>
    <% } %>
    <% if (item.miniquiz) { %>
    <tr bgcolor="#FCDAD0">
      <% mq_num++ %>
      <td>
        <b>Test #<%= mq_num %></b><br />
        <%= item.day %>
      </td>
      <td>
        <%= item.miniquiz %>
      </td>
      <td>
        <% if (item.references) {%>
        <% var ref = item.references %>
        <% for (elts of ref) { %>
        <ul class="tight">
          <li><%= elts %></li>
        </ul>
        <% } %>
        <% } %>
      </td>
      <td>
        <% if (item.misc) {%>
        <%= item.misc %>
        <% } %>
      </td>
    </tr>
    <% } %>
    <% if (item.quiz) { %>
    <tr bgcolor="#FADAD0">
      <% q_num++ %>
      <td>
        <b>Quiz #<%= q_num %></b><br />
        <%= item.day %>
      </td>
      <td>
        <%= item.quiz %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% } %>
    <% if (item.endsem) { %>
    <tr bgcolor="#FACABC">
      <% e_sem++ %>
      <td>
        <b>End-sem</b><br />
        <%= item.day %>
      </td>
      <td>
        <%= item.endsem %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% } %>
    <% if (item.contents) { %>
    <tr bgcolor="#EAECEE">
      <% lec_num++ %>
      <td> <b>Lecture #<%= lec_num %></b> <br />
        <%= item.day %>
      </td>
      <td>
        <%= item.contents %> <br />
        <% if (item.slides) { %>
        [<a href="<%= item.slides %>">slides</a>]
        <% } %>
        <% if (item.notes) { %>
        [<a href="<%= item.slides %>">notes</a>]
        <% } %>
      </td>
      <td>
        <% if (item.references) {%>
        <% var ref = item.references %>
        <% for (elts of ref) { %>
        <ul class="tight">
          <li><%= elts %></li>
        </ul>
        <% } %>
        <% } %>
      </td>
      <td>
        <% if (item.misc) {%>
        <%= item.misc %>
        <% } %>
      </td>
    </tr>
    <% } %>
    <% } %>
  </tbody>
</table>

```